@font-face {
  font-family: 'FuturaRegular';
  src: font-url("FuturaLT.ttf");
}

@font-face {
  font-family: 'FuturaBold';
  src: font-url("FuturaLT-Bold.ttf");
}

@font-face {
  font-family: 'FuturaOblique';
  src: font-url("FuturaLT-HeavyOblique.ttf");
}

@font-face {
  font-family: 'CenturyRegular';
  src: font-url("century_schoolbook_regular.ttf");
}
