<h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="actions">
    <%= link_to "Sign in with Twitter", user_twitter_omniauth_authorize_path, method: :post %>
  </div>
<% end %>

