<h2>
  <%= @board.title %>

  <a class="bw-button" title="toggle BW">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 405.526 405.526"><path d="M202.764 0C90.958 0 0 90.958 0 202.763c0 111.809 90.958 202.764 202.763 202.764 111.808 0 202.763-90.955 202.763-202.764C405.526 90.958 314.571 0 202.764 0zM22.952 202.763c0-99.146 80.665-179.811 179.812-179.811v359.623c-99.148-.001-179.812-80.665-179.812-179.812z"/></svg>
  </a>

  <% if session[:board_ids].present? && session[:board_ids].include?(@board.id) || Rails.env.development? %>
    <%= link_to 'edit', edit_board_path(@board), class: 'btn btn-lg btn-primary float-right' %>
  <% end %>
</h2>

<board-show></board-show>

<% if PAGINATE %>
  <div class="row">
    <div class="col">
      <div class="my-4">
        <%= paginate @items %>
      </div>
    </div>
  </div>
<% end %>
